soapweb/src/main/webapp/wsdl/SumNum.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapweb" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapweb" xmlns:intf="http://soapweb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soapweb" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sum">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumResponse">
    <complexType>
     <sequence>
      <element name="sumReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sub">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subResponse">
    <complexType>
     <sequence>
      <element name="subReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="mul">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="mulResponse">
    <complexType>
     <sequence>
      <element name="mulReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="devide">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="devideResponse">
    <complexType>
     <sequence>
      <element name="devideReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mulResponse">

      <wsdl:part element="impl:mulResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subRequest">

      <wsdl:part element="impl:sub" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subResponse">

      <wsdl:part element="impl:subResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="devideRequest">

      <wsdl:part element="impl:devide" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="devideResponse">

      <wsdl:part element="impl:devideResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumResponse">

      <wsdl:part element="impl:sumResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumRequest">

      <wsdl:part element="impl:sum" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mulRequest">

      <wsdl:part element="impl:mul" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SumNum">

      <wsdl:operation name="sum">

         <wsdl:input message="impl:sumRequest" name="sumRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumResponse" name="sumResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub">

         <wsdl:input message="impl:subRequest" name="subRequest">

       </wsdl:input>

         <wsdl:output message="impl:subResponse" name="subResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mul">

         <wsdl:input message="impl:mulRequest" name="mulRequest">

       </wsdl:input>

         <wsdl:output message="impl:mulResponse" name="mulResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="devide">

         <wsdl:input message="impl:devideRequest" name="devideRequest">

       </wsdl:input>

         <wsdl:output message="impl:devideResponse" name="devideResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SumNumSoapBinding" type="impl:SumNum">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sum">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mul">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mulRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mulResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="devide">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="devideRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="devideResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SumNumService">

      <wsdl:port binding="impl:SumNumSoapBinding" name="SumNum">

         <wsdlsoap:address location="http://localhost:8082/soapweb/services/SumNum"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
